body {
    background-color: #f0f0f0;
    font-family: monserrat, sans-serif;
}

h1 {
    color: #333;
    text-align: center;
}

.estilosFormulario {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 5px;
}

.estilosFormulario input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.info_contacto {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}